* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

/* Left panel */
.left {
    width: 66%;
    background-color: #f3ddff;
    padding: 80px;           /* optional, can reduce */
    
    display: flex;           /* make it flex */
    flex-direction: column;  /* stack items vertically */
    justify-content: center; /* vertical centering */
    align-items: flex-start;     /* horizontal centering */
    text-align: left;      /* center text inside */
}


.left h1 {
    font-family: 'Lilita One', cursive;
    margin-top: 0;
    font-size: 50px;
}

.left h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 0;
    font-size: 25px;
}

.left p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

/* Right panel */
.right {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 320px;
    text-align: center;
}

.logo img {
    display: block;
    margin: 0 auto -30px auto; 
    padding: 0;              
}

.logo span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #e0e0e0;
    font-size: 14px;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #8a2be2;
    text-decoration: none;
    margin-bottom: 20px;
}

button {
    width: 120px;
    padding: 10px;
    background-color: #b57be5;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.signup {
    margin-top: 20px;
    font-size: 13px;
}

.signup a {
    color: #8a2be2;
    text-decoration: none;
}